@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}
img{border: none; vertical-align: bottom;}
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: '맑은고딕', 'Apple SD Gothic Neo',
        sans-serif;
}

/* 박스3번과 박스4의 가로정렬 */
.boxA {
    display: flex;
}

.box3 {
    width: 70%;
}

.box4 {
    width: 30%;
}

/* 로고설정 */
.logo {}

.logo h1 {
    font-weight: normal;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
}

.logo h1 a {
    color: #83a4a8;
}

/* 메뉴설정 */
.menu {}

.menu ul {
    display: flex;
}

.menu ul li {}

.menu ul li a {
    display: block;
    padding: 15px;
    font-size: 14px;
}

.menu ul li a:hover {
    background-color: #75dbe7;
}

/* 기사설정 */
.story {}

.story h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.story img {
    max-width: 100%;
}

.story p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.story h2 {
    margin-top: 40px;
    border-left: 10px solid #7cbac1;
    padding-left: 10px;
    font-weight: normal;
}

/* 기사의작성일설정 */
.storyinfo {
    margin-top: -10px;
    margin-bottom: 18px;
}

.storyinfo i {
    color: #aaaa;
    font-size: 20px;
}

.storyinfo time {}

/* 기사의 카테고리 설정 */
.story-cat {
    margin-bottom: 25px;
}

.story-cat ul {
    display: flex;
}

.story-cat ul li {
    margin-right: 5px;
}

.story-cat ul li a {
    background-color: #75dbe7;
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    display: block;
    border-radius: 2px;
}


/* sns공유설정 */
.snsSet{margin-top: 40px;}
.snsSet ul{display: flex;}
.snsSet ul li{flex-grow: 1; width: 33.3333%;}
.snsSet ul li a{display: block; text-align: center;
padding: 5px; font-size: 14px;
color: #fff;}
.snsSet  li:nth-child(1) a{background-color: #1da1f2;}
.snsSet  li:nth-child(2) a{background-color: #1877f2;}
.snsSet  li:nth-child(3) a{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#833ab4+0,f77737+96,f77737+96 */
    background: #833ab4; /* Old browsers */
    background: -moz-linear-gradient(left,  #833ab4 0%, #f77737 96%, #f77737 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #833ab4 0%,#f77737 96%,#f77737 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #833ab4 0%,#f77737 96%,#f77737 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833ab4', endColorstr='#f77737',GradientType=1 ); /* IE6-9 */
    }


/* 특집기사설정 */
.sidemenu {
    margin-bottom: 30px;
}

/* 관련기사설정 */
.ralation{background-color: #F0F0D4; padding: 20px; margin-top: 40px;}
.ralation h1{color: #727224; font-size: 20px; font-weight: normal;
                margin-bottom: 5px;}
.ralation ul{display: flex; flex-wrap: wrap;}
.ralation ul li{width: 25%;}
.ralation ul li a{display: block; padding: 5px;
                    font-family: 14px;}
.ralation img{max-width: 100%;}
.ralation .txt{}





.sidemenu h1 {
    font-weight: bold;
    font-size: 18px;
    color: #666;
    border-bottom: dotted 2px #ddd;
    margin-bottom: 10px;
}

.sidemenu ul {}

.sidemenu ul li {}

.sidemenu ul li a {
    display: block;
    padding: 5px;
    font-size: 14px;
}

.sidemenu i {
    color: #888;
    margin-right: 5px;
}







/* 추천기사설정 */
.recommend {
    margin-bottom: 30px;
}

.recommend h1 {
    font-weight: bold;
    font-size: 18px;
    color: #666;
    border-bottom: dotted 2px #ddd;
    margin-bottom: 10px;
}

.recommend ul {}

.recommend ul li {
    margin-bottom: 10px;
}

.recommend ul li a {
    display: block;
    font-size: 14px;
    position: relative;
}

.recommend img {
    width: 100%;
}


.recommend .txt {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}














/* 인기기사설정 */
.popular {}

.popular h1 {
    font-weight: bold;
    font-size: 18px;
    color: #666;
    border-bottom: dotted 2px #ddd;
    margin-bottom: 10px;
}

.popular ul {}

.popular ul li {}

.popular ul li a {
    display: block;
    padding: 5px; border-bottom: #ddd; color: #2288bb;
    font-size: 14px;
}
.popular a::after{content: "";
display: block;
clear: both;}
.popular img{border:none;
float: left; width: 60px;}

.popular .txt{float:none; width: auto; padding-left: 15px;
    margin-left: 60px; 
}

.popular span{color: #666; font-size: 12px; display: block;}





/* 카피라이트 */
.copyright {
    font-size: 14px;
    color: #666;
}

/* 박스2를 바 형태로 디자인하기 */
.box2 {
    background-color: #7cbac1;
}

/* 박스5위에 테두리 삽입 */
.box5 {
    border-top: 1px solid #ddd;
}


/* 박스 위아래 간격설정 */
.box1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.box3 {
    padding-top: 40px;
    padding-bottom: 30px
}

.box4 {
    padding-top: 40px;
    padding-bottom: 30px
}

.box5 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* 박스3번과 4번의 좌우 간격설정 */
.box3 {
    padding-right: 50px;
    box-sizing: border-box;
}

/* 화면에 크기설정 및 가운데 배치 */
.box1,
.boxA,
.menu,
.copyright {
    width: 1000px;
    margin: 0 auto;
}

/* 마진 상하, 좌우 */


/* 1. 모바일구간
599px이하구간************************************************************************ */
@media (max-width:599px) {

    /* css 설정구간*/
    /* snsSet설정 */
    .snsSet span{text-indent: -9999px;
    display: inline-block;}
    
    /* 관련기사설정 */
    .ralation ul li{width: 20%;}
    
    }
    
    
    /* 2. 태블릿구간
    600px~767px까지 구간************************************************************************ */
    @media (min-width:600px) and (max-width:767px) {
    
    /* css 설정구간*/
    /* 박스4-1과 박스4-2의 가로정렬 */
    .box4{display: flex;}
    .box4-1 {width: 50%;}
    .box4-2 {width: 50%;}
    
    
    }
    
    
    /* 3. 태블릿부터 데스크탑구간
    768px 이상 구간************************************************************************ */
    @media (min-width:768px) {
    
        /* css 설정구간*/
    
        /* 박스3번과 박스4의 가로정렬 */
    .boxA {    display: flex;}
    
    .box3 {    width: 70%;}
    
    .box4 {    width: 30%;}
        
    .box3 {    padding-right: 50px;
        box-sizing: border-box;}
        }
    
    
    /* 4. 일정크기 가로값 변동없는구간
    1040px 이상 구간************************************************************************ */
    @media (min-width:1040px) {
    
        /* css 설정구간*/
        
        
        }
    