/* 유니코드작성 */
@charset "UTF-8";

/* 서체적용 */
.font001 {font-family: '궁서', serif;}

/* 크기적용 */
.font002 {font-size: 12px;}

/* 기울기적용 */
.font003 {font-style: italic;}

/* 글자변형적용 */
.font004 span {font-variant: small-caps;}

/* 글자두께적용 */
.font005 {font-weight: 600;}

/* 글자행간설정적용*/
.font006 {line-height: 0.8;}
.font007 {line-height: 1.8;}

/* 폰트일렬적용 */
.font008 {color: blue;
    font:bold italic small-caps 20px/1.4 '궁서', serif}
.font009 {color: green;
font: bold 32px '나눔고딕', sans-serif}
.font010 {color: violet;
    font: italic 32px/1.2 '나눔명조', serif}

    /* text-aline설정 */
.aline p {width: 400px;
background-color: aquamarine;}
.aline p:nth-child(1) {text-align: center;}
.aline p:nth-child(2) {text-align: right;}
.aline p:nth-child(3) {text-align: left;} /* text-aline 기본값*/
.aline p:nth-child(4) {text-align: justify;}

/* text-decoration설정 */
.deco p {width: 400px;
background-color: bisque;}
.deco p:nth-child(1) {text-decoration: none;}
.deco p:nth-child(2) {text-decoration: underline;}
.deco p:nth-child(3) {text-decoration: line-through;}
.deco p:nth-child(4) {text-decoration: overline;}

/* text- transform설정 */
.trans p {border: 2px solid black;
padding: 10px;}
.trans p:nth-child(1) {text-transform: uppercase;}
.trans p:nth-child(2) {text-transform: lowercase;}
.trans p:nth-child(3) {text-transform: capitalize;}


/* txet-indent설정 */
.indent p {width: 800px; border: 1px solid black; padding: 10px;
margin-left: 50px;}

.indent p:nth-child(1) span{text-indent: 50px;
display: inline-block; letter-spacing: 20px;}
.indent p:nth-child(2) span{text-indent: -50px;
display: inline-block;}
.indent p:nth-child(3) span{text-indent: -9999px;
display: inline-block;}