@charset "UTF-8";

header{background-color: #fff;}
header h1{position: absolute;
width: 180px; height: 136px;
background-image: url(../img/logo1.png);
text-indent: -9999px; left: 50%; top: 70px;
margin-left: -90px; background-size: contain;
background-repeat: no-repeat;}
/* 와이드의 절반값-90px */

.gnb{}









